<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form >
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,rowstat:${listProduct}">
            <td th:text="${rowstat.count}"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.nameProduct}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/view_product(id=${product.getId()})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/cart}">Go to Cart</a>
</form>
</body>
</html>