<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>

<div class="container">
    <h1  class="text-center">List category</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="${category.id}"></th>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${category.name}"></td>
        </tr>
        <tr>
            <td>
                <a  th:href="@{/category}">
                    <button class="btn btn-info">Back</button>
                </a>
            </td>
            <td>
                <a style="text-decoration: none" th:href="@{/show_edit(id=${category.id})}">
                    <button class="btn btn-success">Edit</button>
                </a>
            </td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>