<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<head>
<body>
<a href="/create-product">Create new product</a>
<h1>Product</h1>
<table id="products">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Manufacture</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.manufacture}"></td>
            <td><a th:href="@{/edit-product/{id}(id=${product.id})}">Edit</a></td>
            <td>
                <button type="submit" data-toggle="modal" data-target="#exampleModalScrollable"
                        th:onclick="|getProductID('${product.id}')|">Delete
                </button>
            </td>
        </tr>
    </th:block>
</table>
<p th:if="${success}" th:text="${success}"></p>
<footer th:replace="/layout :: footer"></footer>
<div th:insert="~{/layout::deletemodal}"></div>
<div th:insert="~{layout::script}"></div>
</body>

</html>