<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>
<form th:action="@{/create_category}" method="post" th:object="${category}">
    <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr>
            <th>ID</th>
            <td>
                <input type="text" class="form-control" th:field="*{id}" required>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <input type="text" class="form-control" th:field="*{name}" required>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success" type="submit">Create</button>
</form>

<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>