<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>

<div class="container">
    <h1  class="text-center">Edit category Information</h1>
    <form th:action="@{/edit_category}" method="post" th:object="${category}">
        <table class="table table-hover">
            <thead></thead>
            <tbody>
            <tr hidden>
                <th>ID</th>
                <td>
                    <input type="text" th:field="*{id}">
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>
                    <input type="text" th:field="*{name}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <a  th:href="@{/category}"><button class="btn btn-info">Back</button></a>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Update</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>