<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/css/bootstrap.css">
    <script src="assert/style/js/bootstrap.js"></script>
    <script src="assert/style/js/bootstrap.bundle.js"></script>
    <title>Title</title>

</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th><h1>Pls Don't say Hello World</h1></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="row"><h1>Pls Don't say Hello World</h1></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td scope="row"></td>
        <td><h1>Pls Don't say Hello World</h1></td>
        <td></td>
    </tr>
    </tbody>
</table>

</body>
</html>