<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>
<form th:action="@{/employee/create_employee}" method="post" th:object="${employee}">
    <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr>
            <th>ID</th>
            <td>
                <input type="text" class="form-control" th:field="*{id}" required>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <input type="text" class="form-control" th:field="*{name}" required>
            </td>
        </tr>
        <tr>
            <th>User Name</th>
            <td>
                <input type="text" class="form-control" th:field="*{user.userName}" required>
            </td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>
                <input type="date" class="form-control" th:field="*{birthday}" required>
            </td>
        </tr>
        <tr>
            <th>ID Card</th>
            <td>
                <input type="text" class="form-control" th:field="*{idCard}" required>

            </td>
        </tr>
        <tr>
            <th>Salary</th>
            <td>
                <input type="text" class="form-control" th:field="*{salary}" required>
            </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>
                <input type="text" class="form-control" th:field="*{phoneNumber}" required>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input type="email" class="form-control" th:field="*{email}" required>
            </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <input type="text" class="form-control" th:field="*{address}" required>
            </td>
        </tr>
        <tr>
            <th>Position</th>
            <td>
                <select type="text" class="form-control" th:field="*{position}" required>
                    <option th:each="position : ${positionList}" th:value="${position.positionId}"
                            th:text="${position.positionName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Education Degree</th>
            <td>
                <select type="text" class="form-control" th:field="*{educationDegree}" required>
                    <option th:each="educationDegree : ${educationDegreeList}" th:value="${educationDegree.id}"
                            th:text="${educationDegree.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Division </th>
            <td>
                <select type="text" class="form-control" th:field="*{division}" required>
                    <option th:each="division : ${divisionList}" th:value="${division.id}"
                            th:text="${division.name}"></option>
                </select>
            </td>
        </tr>

        </tbody>
    </table>
    <button class="btn btn-success" type="submit">Create</button>
</form>

<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>