<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/products/create}">
        Add new product
    </a>
</p>

<table id = "products">
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Manufactory</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${productList}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getManufactory()}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>