<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/products/create}">
        Add new product
    </a>
</p>

<table id="products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Manufacture</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${productList}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getManufactory()}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td>
            <button type="submit" data-toggle="modal" data-target="#exampleModalScrollable"
                    th:onclick="|getProductID('${row.id}')|">Delete
            </button>
        </td>
        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>

<p th:if="${success}" th:text="${success}"></p>
<footer th:replace="/layout :: footer"></footer>
<div th:insert="~{/layout::deletemodal}"></div>
<div th:insert="~{layout::script}"></div>
</body>
</html>