<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="productdetail">
        <label>ID:</label>
        <label th:text="${product.id}"></label>
    </div>
    <div class="productdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="productdetail">
        <label>Manufactory:</label>
        <label th:text="${product.manufactory}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>