<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>

<div class="container">
    <h1  class="text-center">category Blog</h1>
    <a th:href="@{/create_category}"> <button  class="btn-primary">Create new
    </button>
    </a>

    <div th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show font-weight-bold">
            <button type="button" class="close float-right" data-dismiss="alert">&times;</button>
            <span th:text="${message}"></span>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="category,rowstat : ${listCategory}">
            <tr>
                <td th:text="${rowstat.index +1}"></td>
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td>
                    <a  th:href="@{/view(id=${category.id})}">
                        <button class="btn btn-info">
                            <i class="fas fa-eye"></i>
                        </button>
                    </a>
                    <a  th:href="@{/show_edit_category(id=${category.id})}">
                        <button class="btn btn-warning">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCategoryModal"
                            th:onclick="|categorySetId('${category.id}')|">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/listCategory'(page=${listCategory.number - 1})}" th:if="${listCategory.hasPrevious()}">Previous</a>
        <span th:text="${listCategory.number + 1}"></span>/<span th:text="${listCategory.totalPages}"></span>
        <a th:href="@{'/listCategory'(page=${listCategory.number + 1})}" th:if="${listCategory.hasNext()}">Next</a>
    </div>

</div>


<div th:replace="/layout :: deleteCategoryModal"></div>
<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>